//добавить адаптивность

.container {
    display: flex;
    align-items: center;
    height: 500px;
    padding: 15px;
    border: 3px solid white;
    }



    .images {
        max-width: 20%;
    }

    .title {
position: absolute;
        font-size: 40px;
        margin-top: 80px;
        margin-left: 900px;
    }

    .button {
        background-color: black;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
        align-self: flex-end;

    }

    .button1 {
        background-color: black;
        color: white;
        padding-right: 50px;
        padding-left:50px;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;

    }

